<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="">
                    <input type="text" value="" placeholder="Url">
                    <input type="submit" name="" value="Submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="errors"></div>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
