@use "resets";
@use "theme";
@use "typography";
@use "fancybg";
@use "content";


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


:root {
    font-family: Ubuntu, sans-serif;
    background-color: theme.$bg;
    color: theme.$fg;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.hidden {
    display: none !important;
}

.invert {
    filter: invert(0.95);
}

.scale-75 {
    scale: .75;
}

.valign {
    display: flex;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap-1 {
    gap: 4px;
}

.p-0 {
    padding: 0;
}