$duration: 90s;

:root {
    background: linear-gradient(270deg, #217d87, #7a336e);
    background-size: 400% 400%;
    animation: FancyGradient $duration ease infinite;
}

@keyframes FancyGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}