form {
    display: flex;
    gap: 1rem;
}

input[type="text"] {
    width: 100%;
    line-height: 16px;
    flex: 1;
    height: 2rem;
}

input[type="submit"] {
    width: min-content;
    height: 2rem;
}
