@use "theme";

:root {
  font-family: theme.$font;
}

.text-small {
  font-size: small;
}

h1 {
  font-size: xx-large;
  color: white;
  margin-bottom: 1rem;
}

h2 {
  font-size: x-large;
  color: white;
  margin-bottom: 1rem;
}

h3 {
  font-size: large;
  color: white;
  margin-bottom: 1rem;
}